.wrapper{
 max-width: 100%;
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}

.nameAndPrice {
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: var(--fs-m);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.name:after {
    content: " ........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................... ";
    letter-spacing: 2px;
    font-size: var(--fs-m);
  }

.price {
    font-size: var(--fs-m);
    font-weight: bold;
    flex-shrink: 0;
}

.description {
    font-size: var(--fs-ms);
}