.wrapper {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-ms);
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
    padding-bottom: 50px;
}


.background {
    background-image: url('../../../public/darkbackground.webp');
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    color: white;
    position: relative;
    width: 100%;
}

.titleAndDescription {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0 0 0;
}

.titleWrapper {
    max-width: 50%;
}

.title {
    font-weight: 200;
    color: var(--secondary-color-light);
}

.description {
    max-width: 60%;
    font-size: var(--fs-ms);
    text-align: center;
    font-weight: 200;
    color: var(--secondary-color-light);
}

.separator {
    border-bottom: 1px solid var(--secondary-color);
    width: 100%;
    opacity: 50%;
    z-index: 0;
}

.categories {
    display: flex;
    flex-direction: row;
    max-width: 30%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: var(--fs-header);
}

.category {
    transition: 0.3s;
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: var(--tertiary-color);
}

.categoryActive {
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 30px;
    transition: background-color 0.3s;

}

.categoryActive:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color-alt);
    cursor: pointer;
}

.category:hover {
    cursor: pointer;
    color: var(--secondary-color);
    text-decoration: underline;
}

.subCategories {
    display: flex;
    flex-flow: row wrap;
    max-width: 60%;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: var(--fs-ms);
}


.leaf1 {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 25%;
    height: auto;
    rotate: -30deg;
    z-index: 1;
}

.leaf2 {
    position: absolute;
    top: 10%;
    right: 0;
    width: 25%;
    height: auto;
    rotate: 90deg;
    z-index: 1;
}

.tomato {
    position: absolute;
    bottom: 0%;
    right: 5%;
    width: 15%;
    height: auto;
    rotate: -45deg;
    z-index: 1;
}

.mushroom {
    position: absolute;
    top: 100px;
    left: 5%;
    width: 15%;
    height: auto;
    rotate: -30deg;
    z-index: 1;
}

@media only screen and (max-width: 992px) {
    .subCategories {
        max-width: 80%;
    }

    .title {
        font-size: var(--fs-xl);
        text-align: center;
    }

    .leaf1 {
        width: 40%;
        rotate: -45deg;
        left: -5%;
        bottom: 20%;
    }

    .leaf2 {
        top: 0%;
        right: -5%;
        width: 50%;
    }

    .tomato {
        width: 30%;
        right: 0%;
    }

    .mushroom {
        width: 25%;
        top: 3rem;
        left: 0;
    }
}