.wrapper {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-ms);
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
}

.header {
    font-size: var(--fs-l);
    font-weight: 200;
    color: darken(wheat, 10);
    padding: 1rem 0 1rem 0;
}

.separator {
    border-bottom: 1px solid wheat;
    width: 100%;
    opacity: 50%;
    z-index: 0;
}

.categories {
    display: flex;
    flex-direction: row;
    max-width: 30%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: var(--fs-header);
}

.category {
    transition: 0.3s;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.categoryActive {
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    color: black;
    background-color: rgba($color: wheat, $alpha: 0.8);
    border-radius: 0.3rem;

}

.categoryActive:hover {
    background-color: rgba($color: wheat, $alpha: 0.7);
    cursor: pointer;
}

.category:hover {
    cursor: pointer;
    color: wheat;
    text-decoration: underline;
}

.subCategories {
    display: flex;
    flex-flow: row wrap;
    max-width: 60%;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: var(--fs-ms);
}