.wrapper{
    margin-top: 3rem;
    margin-bottom: 4rem;
    width: 60%;
}

.menuItems{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    color: wheat;
}