$offset: 120px;

.wrapper {
    margin: 2rem 2rem 0 2rem;
}

.background {
    background-image: url('../../../public/darkbackground.webp');
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;
    align-items: center;
    color: white;
    position: relative;
}

.leaf1 {
    position: absolute;
    top: 100px;
    left: 0;
    width: 30%;
    height: auto;
    rotate: -15deg;
    z-index: 1;
}

.leaf2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: auto;
    rotate: 90deg;
    z-index: 1;
}