$menu-nav-item-color: #ffffff;
$menu-nav-item-color-hover: darken($menu-nav-item-color, 20);

.header {
    padding: 0 50px 0 50px;
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    background-color: black;
    color: $menu-nav-item-color;
    font-size: x-large;
}

.leftSideMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.middleMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.logoWrapper{
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.navItemActive{
    font-size: x-large;
}

.navItemActive:hover{
    color: $menu-nav-item-color-hover;
}

.navItemNonActive{
    color: $menu-nav-item-color;
    text-decoration: none;
    font-size: x-large;
}

.navItemNonActive:hover{
    color: $menu-nav-item-color-hover;
}

.rightSideMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}