.wrapper{
    padding: 3rem 2rem 3rem 2rem;
}

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    text-shadow: 1px 0 5px var(--secondary-color-light);;
    text-align: left;
}

.headerText{
    color:var(--secondary-color);
    font-size: var(--fs-l);
    font-weight: 200;
}


@media only screen and (max-width: 992px) {
    .wrapper{
        padding: 0 1rem 0 1rem;
    }
    .header{
        text-align: center;
    }
}