.headerWrapper {
    position: sticky;
    top: 0;
    background-color: rgb(237 235 232 / 97%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 10;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1.5rem;
    padding-left: 4rem;
}

.logoWrapper {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    align-self: stretch;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: var(--fs-ms);
}

.rightSideMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4rem;
    margin-left: 2rem;
}