$menu-nav-item-color: #ffffff;
$menu-nav-item-color-hover: darken($menu-nav-item-color, 20);

.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 4fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "leftSideMenu middleMenu rightSideMenu"
        "navBar navBar navBar";
    background-color: black;
    color: $menu-nav-item-color;
    font-size: x-large;
}

.leftSideMenu {
    display: flex;
    font-size: medium;
    justify-content: center;
    align-items: center;
    grid-area: leftSideMenu;
}

.middleMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    grid-area: middleMenu;
}

.logoWrapper {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: space-evenly;
    grid-area: navBar;
}

.navItemActive {
    font-size: x-large;
}

.navItemActive:hover {
    color: $menu-nav-item-color-hover;
}

.navItemNonActive {
    color: $menu-nav-item-color;
    text-decoration: none;
    font-size: x-large;
    transition: color 0.5s;
}

.navItemNonActive:hover {
    color: $menu-nav-item-color-hover;
}

.rightSideMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: rightSideMenu;
}