$restaurant-yellow: #f6d17a60;
$text-color: #f5f5f5;
$button-color: #d8bfa0;
$offset: 60px;

.wrapper {
    color: $text-color;
    background-image: url('../../public/darkbackground.webp');
    margin-bottom: $offset;
}

.imageWrapper{
    margin-bottom: -$offset;
}

.content {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 0 5rem;
}

.textWrapper{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: var(--fs-m);
}

.description {
    margin-bottom: 2rem;
    font-size: var(--fs-s);
}

.mainButton{
    border: 1px solid $button-color;
    background: transparent;
    color: $button-color;
    width: min-content;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 30px;
    transition: 0.5s;
    text-decoration: none;
}

.mainButton:hover{
    cursor: pointer;
    background-color: $button-color;
    border-color: black;
    color: black;

}