$offset: 10vh;
$minImageWidth: 400px;
$maxImageWidth: 500px;

.wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: $offset;
    margin-top: $offset/3;
    padding: 2rem 4rem 0 4rem;
    overflow: hidden;
}

.background {
    display: flex;
    gap: 0 5rem;
    color: var(--tertiary-color);
    background-image: url('../../public/darkbackground.webp');
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.imageWrapper {
    position: relative;
    flex-basis: $minImageWidth;
    flex-shrink: 0;
    flex-grow: 3;
    margin-bottom: -$offset;
    margin-top: -$offset/3;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    min-width: $minImageWidth;
    max-width: $maxImageWidth;
    aspect-ratio:  1365/2048;
}

.textWrapper {
    display: flex;
    flex-flow: column wrap;
    gap: 3rem;
    max-width: 60%;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 5rem 2rem 0;
}

.introHeader {
    font-size: var(--fs-m);
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.description {
    font-size: var(--fs-s);
    text-overflow: ellipsis;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

.mainButton {
    border: 1px solid var(--secondary-color);
    background: transparent;
    color: var(--secondary-color);
    width: min-content;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 30px;
    transition: 0.5s;
    text-decoration: none;
}

.mainButton:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    border-color: var(--primary-color-alt);
    color: var(--primary-color-alt);
}

.info {
    margin-left: $maxImageWidth;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2rem 0 0 2rem;
    font-size: var(--fs-s);
    gap: 2rem;
}

.infoSection {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

@media only screen and (max-width: 1280px) {

    .wrapper {
        padding: 2rem 1rem 0 1rem;
    }

    .background{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imageWrapper {
        position: relative;
        margin-bottom: 0;
        margin-top: 0;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        min-width:  0;
        max-width: 100%;
        width: 100%;
        aspect-ratio:  1365/2048;
    }

    .introHeader {
        text-align: center;
    }

    .textWrapper {
        max-width: 80%;
        justify-content: center;
        align-items: center;
        padding: 2rem 0 2rem 0;
    }
    .info {
        margin-left: 0;
        padding: 2rem 0 0 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}