.languagePicker {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.linkStyleActive {
    outline: 1px solid var(--tertiary-color);
}

.image {
    display: block;
}

.image:hover {
    cursor: pointer;
}