.languagePicker {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.linkStyle {
    border: 2px solid brown;
}

.linkStyleActive {
    border: 2px solid green;
}

.image {
    display: block;
}

.image:hover {
    cursor: pointer;
}