.languagePicker {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.linkStyleActive {
    outline: 2px solid grey;
}

.image {
    display: block;
}

.image:hover {
    cursor: pointer;
}