.navItemActive {
    color: var(--secondary-color-dark2);
    text-decoration: none;
    transition: color var(--transition-time);
    display: inline-block;
    position: relative;
    padding: 10px 0 10px 0;
}

.navItemActive:hover {
    color: var(--secondary-color-dark1);
}

.navItemActive::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color-dark2);
    transform-origin: bottom center;
    transition: transform var(--transition-time) ease-in, background-color var(--transition-time);
    transform: scaleX(1);
}

.navItemActive:hover::after {
    background-color: var(--secondary-color-dark1);
}

.navItemNonActive {
    color: var(--primary-color);
    text-decoration: none;
    transition: color var(--transition-time);
    display: inline-block;
    position: relative;
    padding: 10px 0 10px 0;
}

.navItemNonActive:hover {
    color: var(--primary-color-alt);
}

.navItemNonActive::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color-alt);
    transform-origin: bottom center;
    transition: transform var(--transition-time) ease-out;
}

.navItemNonActive:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}