.pageBackground{
    background-image: url('../../public/dark-wood.webp');
    aspect-ratio: 16/9;
    color: white;
}

.imageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foodCard{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.foodCardName{
    margin-top: 2rem;
    color: wheat;
    font-size: x-large;
}

.headerAndDescription{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem 5rem;
}
.pageHeader{
    
}

.pageDescription{
    margin-bottom: 2rem;
}