.wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.header{
    color:var(--secondary-color);
    font-size: var(--fs-l);
    font-weight: 200;
    text-align: center;
}

.filterAndSearch{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blogPosts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
}

.noItemsText{
    display: flex;
    min-height: 5rem;
    font-size: var(--fs-m);
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action {
    display: inline-flex;
    text-decoration: none;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: var(--secondary-color-dark1);
    padding: 4px 8px;
    border-radius: 4px;
    border-color: var(--secondary-color-dark1);
    cursor: pointer;
    transition: 0.3s ease;
}
.action:hover {
    background-color: var(--secondary-color-dark2);
}

.action span {
    transition: .3s ease;
}

.action:hover span {
    transform: translateX(4px);
}

@media only screen and (max-width: 992px) {
    .blogPosts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 2rem;
    }
    .filterAndSearch{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 2rem 0 2rem 0;
    }
}