.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.fieldset {
    padding: 0.5rem;
}

.legend {
    font-size: var(--fs-ms);
    font-weight: bold;
    color: var(--secondary-color);
}

.options {
    display: flex;
    flex-direction: row;
}

.radio {
    margin-left: 1rem;
}

.label {
    font-size: var(--fs-s);
    font-weight: bold;
    letter-spacing: 1.2px;
    font-style: italic;
}
.label:hover{
    cursor: pointer;
    color: var(--secondary-color);
}